*{
  padding:0px;
  margin: 0px;
}
#myVideo {
  /* position: fixed; */
  /* right: 0;
  bottom: 0; */
  min-width: 100%;
  /* min-height: 50%; */
}
#myVideo1 {
  /* position: fixed; */
  
  right: 0;
  bottom: 0;
  left: 0;
  /* width: 750px; */
  height: 750px;
  /* min-height: 50%; */
}

.home{
  background-image: url(images/IMG20230924120131.jpg);
  height: 90vh;
  background-size: cover;
  background-position: center;
}

.scrollimages img{
height:700px;
}


@media only screen  and (max-width: 600px){
  #myVideo {
    /* position: fixed; */
    /* right: 0;
    bottom: 0; */
    min-width: 50%;
    /* min-height: 50%; */
  }



  .home{
    background-image: url(images/IMG20230924120131.jpg);
    height: 90vh;
    width: 850px;
    /* background-size: cover;
    background-position: center; */
  }


  #myVideo1 {
    /* position: fixed; */
    /* right: 0;
    bottom: 0;
    left: 0; */
    /* width: 750px;
    height: 750px; */
    /* min-height: 50%; */
    height: 100vh;
  width: 100%;
  object-fit:fill;
  /* position: fixed; */
  display: flex;
  }
  .scrollimages img{
    height:700px;

    } 
}